/* Make Tab Lines Green */
.Node.is-currentRoot .Node .Node-children {
    border-left: 1px dotted #E0E0E0	 !important;
}

/* Hide All Bulletpoints (1st and 2nd in current view) */
.Node.is-currentRoot .Node .Node-bullet:before {
	visibility: hidden;
}

/* Displays Any Collapsed bulletpoint */
.Node.is-currentRoot .Node .is-collapsed>.Node-bullet:before {
 	color:#5D64F6;
   	visibility: visible;
}

/* Override 2nd bulletpoint in current view */
.Node.is-currentRoot .Node .Node .Node-bullet:before {
	visibility: visible;
}

/* Overrides 3rd Bulletpoint in current view */
.Node.is-currentRoot .Node .Node .Node .Node-bullet:before {
    content: "–";
	visibility: visible;
    font-weight: bold;
}

/* Overrides 4th Bulletpoint in current view */
.Node.is-currentRoot .Node .Node .Node .Node .Node-bullet:before {
	content: "◯";
    visibility: visible;
}
/* Overrides 5th Bulletpoint in current view */
.Node.is-currentRoot .Node .Node .Node .Node .Node .Node-bullet:before {
	content: "■";
    visibility: visible;
}
/* Overrides 6th Bulletpoint in current view */
.Node.is-currentRoot .Node .Node .Node .Node .Node .Node .Node-bullet:before {
	content: "☐";
    visibility: visible;
}
/* Overrides 7th Bulletpoint in current view */
.Node.is-currentRoot .Node .Node .Node .Node .Node .Node .Node .Node-bullet:before {
	content: "◆";
    visibility: visible;
}


/* ----------------------------------
Generic Tags
----------------------------------*/

/* Makes bulletpoints less distracting overall*/
.Node-bullet:before {
	font-size: 12px !important;
	color: #5D64F6;
}

/* Vertical Alignment to Color Tags 1 & 2*/
.Node-self {
	padding-left: 83px !important;
}

/* Custom Heading3 colors*/
.Node.is-heading3 > div:first-child {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A0522D;
}

/* Custom Heading2 Colors */
.Node.is-heading2 > div:first-child {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 10.5px;
	font-style: normal;
	font-weight: lighter;
}

/*Custom Heading1 Colors */
.Node.is-heading1 > div:first-child {
	font-size: 13px;
}

/* Make links different color */
a {
	color: #0079d3; /* Reddit Blue Hyperlinks color*/
}


/* ----------------------------------
Customized Colors for different URLs if needed
----------------------------------*/
a[href^="https://dynalist.io"] {
	color: green;
}

/* Tags dark blue */
/* a[title^="Filter #"] {
	color: #000099;
	font-style: normal;
} */

/* Enter Specific Color Tags Here */
/* a[title^="Filter #d-projects"]
a[title^="Filter #d-workflow"]{
    color: black;
    font-weight: bold;
}
*/
